#container {
  width: 100vw;
  height: 100vw;
}
h1{
    color: rgb(255, 255, 255);
}

#mapa{
    width: 500px;
    height: 600px;

}
#lateral{
    width: 20%;
    height: 100%;
    background-color: #317cdd;
    float: left;
    background-image: url('https://fondosmil.com/fondo/36779.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
    text-align: center;
    align-items: center;
  }
  #siguiente{
    width: 80%;
    height: 100%;
    float: left;
  }
  #container{
    width: 100vw;
    height: 100vh;
  
  }