body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#lateral{
  width: 20%;
  height: 100%;
  background-color: #317cdd;
  float: left;
  background-image: url('https://fondosmil.com/fondo/36779.jpg    bnbvvbbvbv33');
  background-repeat: no-repeat;
  background-size: auto;
}
#siguiente{
  width: 80%;
  height: 100%;
  float: left;
}
#cont{
  width: 100vw;
  height: 100vh;

}